@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
	--size-very-small: 0.5em !important;
	--size-extra-small: 1em;
	--size-small: 1.5em;
	--size-large: 3em;
	--size-big: 5em;
	--size-extra-big: 9em;
	--bg-warning: #FFECA4;
	--border-warning: #D0A400;
	--table-head: #F0F4F7;
	--bg-block-active: #FFF4CA;
	--btn-background-default: #e1ecf4;
  	--btn-border-color-default: #7aa7c7;  	
	--btn-text-color-default: #39739d;
	--btn-background-hover-color: #b3d3ea;
  	--btn-text-active-color: #2c5777;
}

/*-------------------------
#General
--------------------------*/
h1, h2, h3, h4 {
	font-size:10px;
}

#up_bk_table_main {
	border-spacing:5px;
	table-layout:fixed;
	width:100%;
}
/*-------------------------
#Site Top Menu
--------------------------*/
#up_top_menu {
	float:right;margin:0;padding:1em 1em 1em 0;
}

/*-------------------------
#Download Modules
--------------------------*/
.DownloadH3 {
	background:transparent url(../images/ultimate-portal/download/bubbles.gif) no-repeat scroll 0 4px;
	color:#597D9D;
	font-family:arial,helvetica,sans-serif;
	font-size:1.5em;
	font-weight:bold;
	margin:1em 0 0;
	padding-left:23px;
}

#DownloadFront {
	margin-bottom:1em;
	overflow:auto;
}

#DownloadFront #Downloadbrowse {
	float:left;
	margin-top:1em;
	padding-top:1em;
	width:55%;
}

#DownloadFront #Downloadbrowse ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:1em 1em 1em 0em;
	padding:0;
}

#DownloadFront #DownloadInfo {
	float:right;
	margin-top:2em;
	width:45%;
}
/*
Download more Popular
*/
#DownloadFront #DownloadPopular {
	background:#F0F0F5 url(../images/ultimate-portal/download/download-popular.png) no-repeat scroll 112% -10px;
	border:1px solid #CCCCCC;
	font-size:0.9em;
	margin:0 0 1em 1em;
	padding:0 1em 1em;
	color:#000;
}

#DownloadFront #DownloadPopular ol {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0.7em 0 0.7em 1em;
}

#DownloadFront #DownloadPopular ol li {
	font-size:1.2em;
	margin:0;
	padding:0.3em 0 0.3em 20px;
}

#DownloadFront #DownloadPopular ol li.num1 {
	background:transparent url(../images/ultimate-portal/download/num1.png) no-repeat scroll 0 50%;
}
#DownloadFront #DownloadPopular ol li.num2 {
	background:transparent url(../images/ultimate-portal/download/num2.png) no-repeat scroll 0 50%;
}
#DownloadFront #DownloadPopular ol li.num3 {
	background:transparent url(../images/ultimate-portal/download/num3.png) no-repeat scroll 0 50%;
}
#DownloadFront #DownloadPopular ol li.num4 {
	background:transparent url(../images/ultimate-portal/download/num4.png) no-repeat scroll 0 50%;
}
#DownloadFront #DownloadPopular ol li.num5 {
	background:transparent url(../images/ultimate-portal/download/num5.png) no-repeat scroll 0 50%;
}

#DownloadFront #LastFiles {
	background:#FBF8F4 url(../images/ultimate-portal/download/info_background.png) no-repeat scroll right top;
	border:1px solid #CCCCCC;	
	padding-right:4em;
	font-size:0.9em;
	margin:0 0 1em 1em;
	padding:0 1em 1em;	
	color:#000;	
}
/*
End Download Popular
*/
form#DownloadSearch {
	background:#F0F0F5 none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	margin:1em 0 4px;
	padding:1em;
}

/*
Result Search
*/
#DownBrowsing {
	padding-top:1em;
}

dl{
	margin:0;
	overflow:auto;
	padding:0;
}

#DownBrowsing dt {
	background:#F0F0F5 none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	display:block;
	font-size: 12px;
	font-weight:bold;
	padding:0.4em 0.7em 0.4em 30px;
}

#DownBrowsing dd {
	display:block;
	font-size:10px;
	margin-bottom:1em;
	padding:2px 0 0.5em;
}

#DownBrowsing dd p {
	border-bottom:1px solid #DDDDDD;
	display:block;
	margin:0;
	padding:0.4em 0.7em;
}

#DownBrowsing dd ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-left:0;
	padding-left:0;
}

#DownBrowsing dd li {
	background:transparent url(../images/ultimate-portal/download/menu.png) no-repeat scroll 2px 50%;
	padding-left:16px;
}

#DownBrowsing dt.not_approved {
	background:#FFE8E8 none repeat scroll 0 0;
}

#DownBrowsing dd.not_approved {
	background:#F3F3F3 none repeat scroll 0 0;
}
/*
View File
*/
#DownloadSecondarybody {
	margin-bottom:1em;
	overflow:auto;	
}

.DownloadH2 {
	color:#597D9D;
	font-family:arial,helvetica,sans-serif;
	font-size:1.5em;
	font-weight:bold;
	margin:1em 0 0;
	padding-left:23px;
}

#download {
	float:right;
	width:52%;
}
#download h3 {
	background:transparent none repeat scroll 0 0;
	color:#597D9D;
	margin-bottom:1em;
	margin-top:0;
	padding-bottom:0.5em;
	padding-left:0;
}

#download ul.item {
/*	background:#F8F8FD none repeat scroll 0 0;*/
	border:1px solid #CCCCCC;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding:5px;
}

#download ul.item li {
	margin:0;
	padding:5px;
}

#displaydownload {
	padding-top:1em;
	width:52%;
}

#displaydownload dl {
	padding:2em 1em;
}

#details dt {
	float:left;
	font-size:1em;
	text-align:right;
	width:11em;
}

#details dd {
	font-size:1em;
	margin-left:11em;
	padding-left:1em;
}

#DownloadSecondarybody ul.snav {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

#DownloadSecondarybody ul.snav li {
	float:left;
	font-size:0.8em;
	margin:1;
	padding:0;
}

#DownloadSecondarybody ul.snav li a {
	background:#EBF2F8 none repeat scroll 0 0;
	border-left:2px solid white;
	color:black;
	display:block;
	padding:1em;
	margin-left: 2px;
	font-size:10px;
}

#DownloadSecondarybody #descript {
	clear:both;
	margin-top:1em;
	padding:2em;
}

#DownloadSecondarybody h3 {
	background:transparent url(../images/ultimate-portal/download/bubbles.gif) no-repeat scroll 0 4px;
	color:#597D9D;
	font-family:arial,helvetica,sans-serif;
	font-size:1.5em;
	font-weight:bold;
	margin:1em 0 0;
	padding-left:23px;
}

#downloadsite #warning {
	background:#FFE0E0 none repeat scroll 0 0;
	height:30px;
	padding:1em;
}

#downloadsite #warning img {
	float:left;
	margin-right:2em;
}

#downloadsite #warning p {
	display:block;
	font-size:1em;
	font-weight:bold;
}

/**********************************
INTERNAL PAGE
***********************************/
h2.titleipage {
	font-size:17px;
	font-weight:bold;
	margin:0 0 0.3em;
	padding:0;
}
.post-date {
	background:transparent url(../images/ultimate-portal/internal-page/info-bar.png) no-repeat scroll left -75px;
	float:left;
	font-weight:bold;
	padding-left:11px;
	text-transform:uppercase;
}
.post-date p.day {
	background:transparent url(../images/ultimate-portal/internal-page/info-bar.png) no-repeat scroll right -42px;
	color:#FFFFFF;
	height:33px;
	line-height:31px;
	margin:0;
	padding:0 16px 0 0;
}
.post-info {
	background:transparent url(../images/ultimate-portal/internal-page/info-bar.png) no-repeat scroll right top;
	color:#BBBBBB;
	height:42px;
	margin-left:11px;
	text-shadow:1px 1px 1px #FFFFFF;
}
.post-info p.author {
	line-height:32px;
	margin:0;
	padding:0 0 0 6px;
}
.alignleft {
	float:left;
	margin-right:8px;
}
.post-info p.moderate {
	line-height:32px;
	margin:0;
	padding:0 12px 0 0;
}
.alignright {
	float:right;
	margin-left:8px;
}

/*********************************
	About Us Module
*********************************/
/* a descriptive style */
.UPdescription
{
	padding: 0.5em 1em 1em 1em;
	font-size: 0.9em;
	line-height: 1.4em;
	border: solid 1px #bbb;
	background: #F5F5F0;
	margin: 0 0 1em 0;
	margin-top:10px;
}

/****************************
	template_button_strip
****************************/
/* the page navigation area */
.UPpagesection
{
	font-size: 0.9em;
	padding: 0 0 0.3em 0;
	overflow: hidden;
	margin-bottom: 1px;
}
div.UPpagesection div.floatright input
{
	margin-top: 3px;
}
.UPbuttonlist ul
{
	z-index: 100;
	padding: 5px;
	margin: 0 0.3em 0 0;
}
.UPbuttonlist ul li
{
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}
.UPbuttonlist ul li a
{
	display: block;
	font-size: 0.8em;
	color: black;
	background: url(../images/theme/menu_gfx.png) no-repeat 0 -60px;
	padding: 0;
	margin-left: 12px;
	text-transform: uppercase;
	cursor: pointer;
}
.UPbuttonlist ul li a:hover
{
	background: url(../images/theme/menu_gfx.png) no-repeat 0 0;
	color: #fff;
	text-decoration: none;
}
.UPbuttonlist ul li a span
{
	background: url(../images/theme/menu_gfx.png) no-repeat 100% -60px;
	display: block;
	height: 24px;
	line-height: 20px;
	padding: 0 8px 0 0;
	position: relative;
	right: -8px;
}
.UPbuttonlist ul li a:hover span
{
	background: url(../images/theme/menu_gfx.png) no-repeat 100% 0;
}
/* the active one */
.UPbuttonlist ul li a.active
{
	background: url(../images/theme/menu_gfx.png) no-repeat 0 -30px;
	color: white;
	font-weight: bold;
}
.UPbuttonlist ul li a.active span
{
	background: url(../images/theme/menu_gfx.png) no-repeat 100% -30px;
}
.UPbuttonlist ul li a.active
{
	font-weight: bold;
}
.UPbuttonlist ul li a.active:hover
{
	color: #ddf;
}
.align_top ul li a, .align_bottom ul li a
{
	margin: 0 12px 0 0;
}
h4.catbg span.left, h4.catbg2 span.left, h3.catbg span.left, h3.catbg2 span.left, .table_list tbody.header td span.left
{
    height: 33px !important;
    background: url(../images/theme/main_block.png) no-repeat 5px -999px !important;
}

.w-100 {
	width:100%;
}

.fw-bold {
	font-weight: bold;
}

#display_head {
	margin: 0px !important;
	border-top: 1px solid #ddd;
}

.up-rapid-links {
	max-width: 100%;
	height: 180px;
}

.up-rapid-links > div {
	float: left;
	width: 30%;
	border: 1px solid #CCC;
	border-radius: 10px;
	background-color: #F8F8F8;
	padding: 10px;
	height: 100%;
	margin: 3px;	
	overflow: auto;
}

.up-rapid-links > div > img {
	padding: 5px;
	float: left;
	margin-right: 10px;
}

.up-link-title {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 900;
	padding-bottom: 1em;
}

.up-flex {
	display: flex !important;
}

.up-alert {
	padding: var(--size-very-small);
	padding-left: var(--size-small);
	margin-top: var(--size-small);
	margin-bottom: var(--size-small);
	border-radius: 20px;
	align-items: center !important;
}

.up-bg-warning {
	background-color: var(--bg-warning) !important;
	border: 1px solid var(--border-warning) !important;
}

.up-alert > img {
	display: block;
	float: left;
	width: var(--size-big);
	height: var(--size-big);
}

.up-alert-body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: block;	
	padding: var(--size-small);
}

.up-alert-title {	
	font-size: var(--size-large);
	font-weight: 900;
	margin-bottom: 10px;
}

.up-alert-message {
	font-size: var(--size-small);
}

.up-alert .up-alert-title {
	color: var(--border-warning);
}

.table {
	display: table;
	width: 100%;
	border-spacing: var(--size-small);
	border-collapse: collapse;
}

.table > thead > tr > th{
	font-weight: 900;
}

.table > thead > tr > th, .table > tbody > tr > td {
	background-color: var(--table-head);
	padding: var(--size-small);
}

.block-container{
	display: inline;
	margin: var(--size-very-small);
	padding: var(--size-small);
	border: 1px solid white;
	border-radius: 15px;
	background-color: white;
}

.block-title {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 900;
	font-size: var(--size-extra-small);
}

.block-active {
	background-color: var(--bg-block-active) !important;
	border: 1px solid var(--border-warning) !important;
}

.block-container > select {
	padding: 8px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: var(--size-small);
	border: 1px solid var(--table-head);
	border-radius: 10px;
}

.manage-blocks .windowbg {
	padding-left: 5px !important;
    margin: 0 !important;
    border-radius: 0 !important;
    border: 1px solid #ddd !important;
    border-bottom: none !important;
}

.up-text-muted {
	color: #bbb !important;	
}

.up-small {
	font-size: 10px !important;
}

.up-editor {
	width: 100%;
}

.up-btn {
  background-color: var(--btn-background-default);
  border-radius: 3px;
  border: 1px solid var(--btn-border-color-default);
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: var(--btn-text-color-default);
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  height: auto !important;
}

.up-btn:hover,
.up-btn:focus {
  background-color: var(--btn-background-hover-color);
  color: var(--btn-text-active-color);
}

.up-btn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.up-btn:active {
  background-color: var(--btn-background-hover-color);
  box-shadow: none;
  color: var(--btn-text-active-color);
}

.up-checkbox .up-checkbox-input {
appearance: none;
background-color: #dfe1e4;
border-radius: 72px;
border-style: none;
flex-shrink: 0;
height: 20px;
margin: 0;
position: relative;
width: 30px;
}

.up-checkbox .up-checkbox-input::before {
bottom: -6px;
content: "";
left: -6px;
position: absolute;
right: -6px;
top: -6px;
}

.up-checkbox .up-checkbox-input,
.up-checkbox .up-checkbox-input::after {
transition: all 100ms ease-out;
}

.up-checkbox .up-checkbox-input::after {
background-color: #fff;
border-radius: 50%;
content: "";
height: 14px;
left: 3px;
position: absolute;
top: 3px;
width: 14px;
}

.up-checkbox input[type=checkbox] {
cursor: default;
}

.up-checkbox .up-checkbox-input:hover {
background-color: #c9cbcd;
transition-duration: 0s;
}

.up-checkbox .up-checkbox-input:checked {
background-color: #6e79d6;
}

.up-checkbox .up-checkbox-input:checked::after {
background-color: #fff;
left: 13px;
}

.up-checkbox :focus:not(.focus-visible) {
outline: 0;
}

.up-checkbox .up-checkbox-input:checked:hover {
background-color: #535db3;
}